* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: white;
}

:root {
    --color_azul_bg: #09c;
    --color_border: #007399;
    --color-icon: #0000b3;
    --color-border-img:#513dca;
    --color_branca: #fff;
    --color-bg_menu: #F4F4F4;
    --color-hover-clicado: #f2f2f2;
    --color-font: #000000;
    --color-line: rgb(35, 27, 27, 6%);
    --color-error: red;
    --color-titleCadastro: #1E1E1E;
    --color_svg:#4ed8c7;
    --color-span:#9da5d1;

}

p {
    text-align: center;
}

a {
    text-decoration: none;
}